// Specific CSS for your home-page
body {
  color: #FFFFFF;
  align-items: center;
  margin:0;
  padding:0;
  background-image: url(background.jpg), linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5));
  background-blend-mode: color-burn;
  background-color: rgba(76,175,80,.7);
}

body h1, h2 {
  text-align: center;
  color: #FFFFFF;
  font-weight: 600;
}
