<div class="container">
  <div class="black-shadow row justify-content-center m-2">
    <h1>Mis Estadisticas</h1>
  </div>

  <div class="cards">

<body>

<div class="circle">
      <div class="circle_text black-shadow">
        <i class="fas fa-truck-moving"></i>
        <p>Viajes realizados</p>
        <h3><%= @user.loads.count %></h3>
      </div>
</div>
<div class="circle">
      <div class="circle_text black-shadow">
        <i class="fas fa-road"></i>
        <p>Kms recorridos</p>
        <h3>4536</h3>
      </div>
</div>
<div class="circle">
      <div class="circle_text black-shadow">
        <i class="fas fa-smog"></i>
        <p>Emisiones evitadas</p>
        <h3>1856</h3>
    </div>
</div>
<div class="circle">
      <div class="circle_text black-shadow">
        <i class="fas fa-box-open"></i>
        <p>Capacidad utilizada</p>
        <h3>3265</h3>
  </div>
</div>
<div class="circle">
      <div class="circle_text black-shadow">
        <i class="far fa-money-bill-alt"></i>
        <p>Ahorros</p>
        <h3>$12565</h3>
   </div>
</div>
<div class="circle">
      <div class="circle_text black-shadow">
      <i class="far fa-comments"></i>
      <p>Reseñas</p>
      <h3>2</h3>
    </div>
</div>
</body>
</div>
