<div class="container">
  <br>
  <h1 class="black-shadow">Nombre: <%= @user.name %></h1>
  <h1 class="black-shadow">Email: <%= @user.email %></h1>
  <br>
  <div class="black-shadow row justify-content-center m-2">
    <h2>Mis Estadisticas</h2>
  </div>

  <div class="cards">

<body>

<div class="circle">
      <div class="circle_text black-shadow">Viajes Realizados: <%= @user.loads.count %></div>
</div>
<div class="circle">
      <div class="circle_text black-shadow">Kms recorridos: 4536</div>
</div>
<div class="circle">
      <div class="circle_text black-shadow">Emisiones evitadas: 1856</div>
</div>
<div class="circle">
      <div class="circle_text black-shadow">Capacidad utilizada: 3265</div>
</div>
<div class="circle">
      <div class="circle_text black-shadow"> Ahorros: $12565</div>
</div>
<div class="circle">
      <div class="circle_text black-shadow">Reseñas: 2</div>
</div>
</body>
</div>
