<div class="container">
  <br>
  <h1 class="black-shadow">Set nickname</h1>
  <div class="form-box col">
    <%= simple_form_for @user do |f| %>
      <%= f.input :nickname, placeholder: "Your nick", label: "Nickname" %>
      <%= f.button :submit, label: "Enviar", class: "button green-button" %>
    <% end %>
  </div>
</div>

