<div class="container">
  <h1>Set nickname</h1>
  <%= simple_form_for @user, action: :update do |f| %>
    <%= f.input :nickname, placeholder: "Your nick", label: "Nickname" %>
    <%= f.button :submit, label: "Enviar", class: "btn btn-primary" %>
  <% end %>
</div>
