<div class="container">
  <br>
  <div class="form-box col">
    <%= simple_form_for @user do |f| %>
      <%= f.input :nickname, placeholder: "Ingresá tu nickname", label: "Nickname" %>
      <%= f.button :submit,'Entrar al canal', class: "btn button green-button" %>
    <% end %>
  </div>
</div>

