<!-- app/views/flats/_info_window.html.erb -->

<h2><%= load.user.name %></h2>
<p>Start location: <%= load.start_point.location %></p>
<p>Start date: <%= load.start_date %></p>
<p>Time range: <%= load.hour_range %></p>
