<br>
<h1 class="black-shadow">Cotización estimada de tu viaje</h1>
<br>
<div class="container">
    <div class="d-flex flex-column" style="height: 200px;">
      <div class="p-2">
        <table class="table table-hover white-box text-center align-middle">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Distancia(km)</th>
              <th scope="col">Precio por km($/km)</th>
              <th scope="col">Cotización estimada</th>
              <th scope="col"></th>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row"><%= @distancia.round(1)  %></td>
              <td><%= @promedio.round(1) %></td>
              <td>
                <h4>
                  <span class="badge badge-pill badge-warning">$ <%= @cotizacion.round(1) %> Ars</span>
                </h4>
              </td>
              <td>
                <form method="get" action="/loads/new">
                    <button type="submit" class="btn btn-primary">Publicar carga</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
</div>

