<div class="container">
  <div class="row">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));">
      <div class="container">
        <h1>La manera segura y eficiente de transportar tus pertenencias ayudando al medioambiente</h1>
        <p>Obtené un estimado de tu Green Freight</p>
        <div class="cotizacion">
          <form class="form-inline d-flex justify-content-around">
            <div class="form-group w-25">
              <label for="inputOrigin" class="sr-only">Origen</label>
              <input type="string" class="form-control" id="inputOrigin" placeholder="Origen">
            </div>
            <div class="form-group w-25">
              <label for="inputDestino" class="sr-only">Destino</label>
              <input type="string" class="form-control" id="inputDestino" placeholder="Destino">
            </div>
              <button type="submit" class="btn btn-primary w-50 font-weight-bold">Cotizá</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center m-2">
    <h2 class="black-shadow">¿Por qué elegirnos?</h2>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1593642532842-98d0fd5ebc1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">
        <div class="card-info">
          <h1>Ahorrá dinero</h1>
          <p>Mediante el sistema de cargas compartidas, podes comparar las distintas tarifas disponibles para transportar tu carga.</p>
        </div>
      </div>
    </div>
     <div class="col">
       <div class="card">
         <img src="https://images.unsplash.com/photo-1593642532842-98d0fd5ebc1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">
         <div class="card-info">
           <h1>Cuidá el planeta</h1>
           <p>Description</p>
         </div>
       </div>
     </div>
      <div class="col">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1593642532842-98d0fd5ebc1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">
          <div class="card-info">
            <h1>Ahorrá tiempo</h1>
            <p>Description</p>
          </div>
        </div>
      </div>
  </div>
  <div class="row justify-content-center m-2">
    <h2 class="black-shadow">¿Cómo funciona?</h2>
  </div>
  <div class="row">
    <div class="col">
      <div class="small-card">
        <img src="https://images.unsplash.com/photo-1593642532842-98d0fd5ebc1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">
        <div class="card-info">
          <h1>Small Card</h1>
          <p>Small card description</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="small-card">
        <img src="https://images.unsplash.com/photo-1593642532842-98d0fd5ebc1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">
        <div class="card-info">
          <h1>Small Card</h1>
          <p>Small card description</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="small-card">
        <img src="https://images.unsplash.com/photo-1593642532842-98d0fd5ebc1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">
        <div class="card-info">
          <h1>Small Card</h1>
          <p>Small card description</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="small-card">
        <img src="https://images.unsplash.com/photo-1593642532842-98d0fd5ebc1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">
        <div class="card-info">
          <h1>Small Card</h1>
          <p>Small card description</p>
        </div>
      </div>
    </div>
  </div>
</div>
