<div class="container">
  <div class="row">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1501700493788-fa1a4fc9fe62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
      <div class="container">
        <h1>La manera segura y eficiente de transportar tus pertenencias ayudando al medioambiente</h1>
        <p>Obtené un estimado de tu Green Freight</p>
        <div>Cotización</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <img src="" alt="">
        <div class="card-info">
          <h1>Card</h1>
          <p>Description</p>
        </div>
      </div>
    </div>
    <div class="col">COL 2</div>
    <div class="col">COL 3</div>
  </div>
  <div class="row"></div>
</div>
