.button {
  width: 169px;
  height: 45px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #46AF44;
  border-radius: 4px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
}

.green-button {
  background: #46AF44;
  color: #FFFFFF;
  border-color: #46AF44;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button:hover {
  background: #FFFFFF;
  color: #46AF44;
  border-color: #46AF44;
}
