.button {
  width: 169px;
  height: 45px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #46AF44;
  border-radius: 4px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
}

.green-button {
  background: #46AF44;
  color: #FFFFFF;
  border-color: #46AF44;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button:hover {
  background: #FFFFFF;
  color: #46AF44;
  border-color: #46AF44;
  font-weight: bolder;
}

#buttons {
  align-items: center;
  display: inline-grid;
  text-align: center;
}

.check-button {
  background: none;
  text-decoration: none;
  color: #004801;
}

.check-button:hover {
<<<<<<< HEAD
  color: grey;
=======
  color: #FFFFFF;
  font-weight: bolder;
>>>>>>> master
}

.green-button a {
  color: rgb(255, 255, 255);
  width: 100%;
  line-height: 1.5;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 4px 4px);
  border-style: hidden;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 15px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  width: 150px;
}

.btn-ghost:hover {
  opacity: 1;
  font-weight: bolder;
}

a:hover {
  color: #46AF44;
  font-weight: bolder;
  text-decoration: none;
}
