.white-box {
  border-radius: 4px;
  background-color: #FFFFFF;
  padding: 5px;
  margin: 15px 0px;
  border-color: #D1D1D1
}

.white-box label {
  display: block;
  width: 100%;
  line-height: 1.5;
  color: #46AF44;
}

.white-box input, p {
  display: block;
  width: 100%;
  line-height: 1.5;
  color: #939393;
  border-style: hidden;
}

