.white-box {
  background-color: #FFFFFF;
  padding: 5px;
  margin: 15px 0px;
  font-size: 16px;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
}

.white-box label, h5 {
  display: block;
  width: 100%;
  line-height: 1;
  color: #46AF44;
}

.white-box input, p {
  display: block;
  width: 100%;
  line-height: 1;
  color: #939393;
  border-style: hidden;
}

.white-box .btn {
  background: #46AF44;
  color: #FFFFFF;
  border-color: #46AF44;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display:flex;
}

.white-box thead {
  line-height: 1;
  color: #46AF44;
}

.white-box h5 {
  // display: block;
  width: 100%;
  line-height: 1;
  font-size: 12px;
  color: #46AF44;
}

.white-box h6 {
  // display: block;
  width: 100%;
  line-height: 1;
  font-size: 10px;
  color: #939393;
}

.movement {
  display: flex;
  background-color: white;
  margin-top: -20px;
  color: grey;
  font-size: 12px;
}
