.white-box {
  border-radius: 4px;
  background-color: #FFFFFF;
  width: 616px;
  height: 66px;
}

.white-box label {
  display: block;
  width: 100%;
  line-height: 1.5;
  color: #46AF44;
}

.white-box input {
  display: block;
  width: 100%;
  line-height: 1.5;
  color: #939393;
  border-style: hidden;
}

